.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100vw - var(--sidebar-width, 200px));
    background-color: #f8f9fa;
    transition: all 0.3s;
}

.content{
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s;
}