.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 5px;
  background-color: #001f3d;
  border-bottom: 1px solid #e9ecef;
  color: #fff;
  overflow: hidden;
  /* position: relative; */
}
/* 
.user_info{
  position: absolute;
  right: 10px;
  top: 10px;
} */