.sidebar {
  width: 250px;
  height: 100%;
  background-color: #001f3d;
  color: #fff;
  z-index: 100;
  overflow-x: hidden;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(249, 249, 249, 0.5);
}

.sidebar-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.collapsed {
  width: 0px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu-item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  vertical-align: middle;
  transition: all 0.3s;
}

.menu-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.settings-menu-item {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  vertical-align: middle;
  transition: all 0.3s;
}

.settings-menu-item:where(.active) {
  background-color: #2973B2;
  color: #fff;
}

/* .modal-header .btn-close {
  color: #ff0000 !important;
  background-color: transparent;
  border: none;
}

.modal-header .btn-close:hover {
  color: #0000ff !important;
} */