.sidebar {
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  overflow-x: hidden;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed {
  width: 0px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu-item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  vertical-align: middle;
  transition: all 0.3s;
}

.menu-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}