.droneimageloader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  /* top: 50%;
  right: 50%; */
  top: 50%;
  right: 50%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.7); /* Light grey */
  border-top: 3px solid white; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
/* width: 50px;
  height: 50px; */

  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
